:root {
    --bg: #FFF;
    --bg2: #CCC;
    --mg: #888;
    --fg2: #333;
    --fg: #000;

    /* TODO: use rem relative units */
    --normal: 18px;
    --small: 14px;
    --medium: 36px;

    /** Application specific styling here */
    --playback: #00F;
}

.inverted {
    color: var(--bg);
    background: var(--fg);
}

body {
    font-family: monospace;
    font-size: var(--normal);
    color: var(--fg);
    background: var(--bg);
}

.b {
    font-weight: bold;
}

.text-mg { color: var(--mg); }

.modal-shadow {
    /* box-shadow: 0px 0px 2px 2000px rgba(0, 0, 0, 0.5); */
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: all;
}

textarea {
    all: unset;
    font-family: monospace;
    white-space: pre-wrap;
    padding: 5px;
}

textarea:focus {
    background-color: var(--bg-color-focus);
}

input {
    all: unset;
    font-family: monospace;
    white-space: pre-wrap;
}

input:focus {
    background-color: var(--bg-color-focus);
}

