:root {
    --foreground: black;
    --background: white;
    --key-size: 75px;
}

.md {
    font-size: 36px;
}

.hidden {
    display: none !important;
}

body {
    font-family: monospace;
    font-size: 18px;
    color: var(--foreground);
}

.keyboard-key {
    font-family: monospace;
    outline: 1px solid var(--foreground);
    display: inline-block;
    padding: 10px;
    width: var(--key-size);
    min-height: var(--key-size);
    font-size: calc( var(--key-size) / 1.5 );
    text-align: center;
    user-select: none;
}

.keyboard-key-note {
    font-size: calc( ( var(--key-size) ) / 4 );
    color: gray;
    text-align: right;
}

.keyboard-key-row {
    display: flex;
    flex-flow: row;
    gap: 5px;
    margin-top: 5px;
}

textarea {
    width: 1000px;
    height: 300px;
}

.keyboard-key.pressed {
    background-color: var(--foreground);
    color: var(--background);
}

.highlight {
    background-color: rgb(255,255,0, 0.5);
}

