:root {
    --bg: #FFF;
    --bg2: #CCC;
    --mg: #888;
    --fg2: #333;
    --fg: #000;
}

.inverted {
    color: var(--bg);
    background: var(--fg);
}

.md { font-size: 36px; }

body {
    font-family: monospace;
    font-size: 18px;
    color: var(--fg);
    background: var(--bg);
}


.text-mg { color: var(--mg); }
