:root {
    --bg: #FFF;
    --bg2: #CCC;
    --mg: #888;
    --fg2: #333;
    --fg: #000;

    /* TODO: use rem relative units */
    --normal: 18px;
    --small: 14px;
    --medium: 36px;
}

.inverted {
    color: var(--bg);
    background: var(--fg);
}

body {
    font-family: monospace;
    font-size: 18px;
    color: var(--fg);
    background: var(--bg);
}


.text-mg { color: var(--mg); }
